@model HairApp.Web.Data.Entities.Shop

@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<flash dismissable="true" />
<h2>Detalle</h2>

<div>
    <h4 class="">de la tienda <b>@Html.DisplayFor(model => model.Name) </b></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Neighborhood.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Neighborhood.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServicesNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServicesNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StarCalification)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StarCalification)
        </dd>
    </dl>
</div>
@if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
{
    <div>
        <a asp-action="AddImage" asp-route-id="@Model.Id" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Imagen</a>
        <a asp-action="AddService" asp-route-id="@Model.Id" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Servicio</a>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning"> Editar</a>
        <a asp-action="Index" class="btn btn-success"> Atrás</a>
    </div>
}

<hr />
@if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin") || User.IsInRole("Usuario"))
{
    <div id="myCarousel" class="carousel  slide center-block" data-ride="carousel" data-interval="6000">
        <ol class="carousel-indicators">
            @if (true)
            {
                int cont = 0;
                foreach (var item in Model.ShopImages)
                {
                    <li data-target="#myCarousel" data-slide-to="@cont"></li>
                    cont = cont + 1;
                }
            }


        </ol>
        <div class="carousel-inner center-block" role="listbox">

            @if (true)
            {
                int count = 0;
                @foreach (var item in Model.ShopImages)
                {

                    if (count == 0)
                    {
                        <div class="item active">
                            <img src="@item.ImageFullPath" alt="ASP.NET" class="img-responsive" />
                            <div class="carousel-caption" role="option">
                                <p>
                                    <a data-id="@item.Id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog"> Eliminar</a>
                                </p>
                            </div>
                        </div>
                    }
                    else
                    {
                        @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
                        {
                            <div class="item">
                                <img src="@item.ImageFullPath" alt="Visual Studio" class="img-responsive" />
                                <div class="carousel-caption" role="option">
                                    <p>
                                        <button data-id="@item.Id" class="btn btn-danger deleteItem2" data-toggle="modal" data-target="#deleteDialog">Eliminar</button>
                                    </p>
                                </div>
                            </div>
                        }

                    }
                    count = count + 1;
                }
            }

        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

}
<hr />


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Servicios de la tienda @Html.DisplayFor(model => model.Name)</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="MyTable1">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Services.FirstOrDefault().Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Services.FirstOrDefault().Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Services.FirstOrDefault().ServiceTime)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Services.FirstOrDefault().IsActive)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Services)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ServiceTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsActive)
                                </td>
                                <td>
                                    @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
                                    {
                                        <a asp-action="EditService" asp-route-id="@item.Id" class="btn btn-warning"><i class="glyphicon glyphicon-pencil"></i></a>
                                        <button data-id="@item.Id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog"><i class="glyphicon glyphicon-trash"></i></button>
                                    }
                                    else
                                    {
                                        <a asp-action="Booking" asp-route-id="@item.Id" class="btn btn-success"><i class="glyphicon glyphicon-calendar"></i></a>
                                    }

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="/js/deleteDialog.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable1').DataTable();
            $('#MyTable2').DataTable();

            sc_deleteDialog.openModal('deleteItem2', true, 'btnYesDelete', '/Shop/DeleteImage/', false);
            sc_deleteDialog.openModal('deleteItem', true, 'btnYesDelete', '/Shop/DeleteService/', false);

        });
    </script>

}


